<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('allLink') -%>
    <link rel="stylesheet" type="text/css" href="styles/index.css">
    <title>RainCorp | Error</title>
</head>
<body>
<%-  include('navbar') -%>
<section class="mainContent">
    <h1>Error</h1>
</section>
</body>
</html>