<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('allLink') -%>
    <link rel="stylesheet" type="text/css" href="styles/index.css">
    <title>RainCorp | Home</title>
</head>
<body>
    <%-  include('navbar') -%>
    <section id="index-title">
        <h1>Welcome on RainCorp</h1>
        <h2>Future is nearer than you think</h2>
    </section>
</body>
</html>